@import './assets/color';

body{
    background-color: $background-color_container;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.container{
    display: flex;
    .content{
        width: calc(100% - 230px);
    }
}

@media screen and (max-width: 768px) {
    .container{
        display: block;
        .content{
            width: 100%;
        }
    }
}
@media (max-width:105px) {
    .container{
        overflow: hidden;
    }
}