
$color_item: #fff;
$background_color_logo: #367fa9;
$color_primary: #3c8dbc;
$color_success: #00a65a;
$color_warning: #f39c12;
$color_danger: #dd4b39;
$color_online: #406141;

$background-color_sidebar:  #222d32;
$background-color_sidebar_form: #374850;
$background-color_header: #1a2226;
$color_header: #4b646f;
$color_item_menu: #b8c7ce;
$color_button: #666;
$color_info: #00c0ef;

$background-color_container: #ecf0f5;
$color_advance_tables: #777;
$color_home: #333;
$background-color_breadcrumb: #d2d6de;
$color_box_title: #444;
$color_active: #337ab7;